:root {
  --container-max: 1440px;
  --header-height: 100px;
  --global-radius: 30px;
  --blurry-gradient: radial-gradient(transparent 1px, #f1f1f1 1px);
  --blurry-mask: linear-gradient(#ffffff 80%, rgb(0, 0, 0) 100%);

  --light-bg-accent: #fdfdfdf1;
  --main-bg: #fdfdfd;
  --main-bg-inverted: #020611;
  --logo-image: url('./../images/raf_logo.png');
  --text-high-contrast: #1d1d1d;
  --text-high-contrast-inverted: #f8f7f7;
  --scrollbar-color: #008ab4;
  --linear-loading-gradient: linear-gradient(
    90deg,
    #e0e0e0 25%,
    #f0f0f0 50%,
    #e0e0e0 75%
  );

  --handshake-icon-white: url('./../images/handshake.svg');
  --handshake-icon-black: url('./../images/handshake-black.svg');
  --arrow-down-black: url("data:image/svg+xml,%3Csvg fill='%23000' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%23000' d='M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z' /%3E%3C/svg%3E");
  --arrow-down-black-inverted: url("data:image/svg+xml,%3Csvg fill='%23fff' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%23fff' d='M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z' /%3E%3C/svg%3E");
}

@media (max-width: 768px) {
  :root {
    --header-height: 60px;
  }
}

:root.dark {
  --blurry-gradient: radial-gradient(transparent 1px, #0f1115 1px);
  --blurry-mask: linear-gradient(rgb(0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%);

  --light-bg-accent: #020611ed;
  --main-bg: #020216;
  --main-bg-inverted: #fdfdfdf1;
  --logo-image: url('./../images/raf_logo_white.png');
  --text-high-contrast: #e8e8e8;
  --text-high-contrast-inverted: #1d1d1d;
  --scrollbar-color: #0a1a52;
  --linear-loading-gradient: linear-gradient(
    90deg,
    #010b25 25%,
    #0f1f41 50%,
    #010b25 75%
  );
  --arrow-down-black: url("data:image/svg+xml,%3Csvg fill='%23fff' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%23fff' d='M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z' /%3E%3C/svg%3E");
  --arrow-down-black-inverted: url("data:image/svg+xml,%3Csvg fill='%23000' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%23000' d='M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z' /%3E%3C/svg%3E");
}
