.my-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.my-works .section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.my-works .text {
  width: 90%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.my-works .works-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px 35px;
}

.my-works .works-container .single-work {
  width: 30%;
  min-width: 300px;
  height: 50%;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: 0.2s;
  border: 1px solid #ccc;

}

@media (max-width: 768px) {
  .my-works .works-container {
    justify-content: center;
  }

  .my-works .works-container .single-work {
    width: 100%;
    min-width: unset;
  }
}

.my-works .works-container .single-work:hover {
  transition: 0.2s;
  box-shadow:
    2px 2px 10px -11px #999,
    -2px -2px 15px 1px #999;
}

.my-works .works-container .thumbnail {
  width: 100%;
  height: 50%;
  aspect-ratio: 2.1;
  display: flex;
  align-items: start;
  justify-content: center;
  overflow: hidden;
  background: var(--linear-loading-gradient);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 10px;
}

.my-works .works-container img {
  width: 100%;
  border-radius: 10px;
}

.my-works .works-container .bottom {
  width: 95%;
  height: -moz-fit-content;
  height: fit-content;
  align-self: end;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.my-works .works-container .description,
.my-works .works-container .title {
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px 0;
}

.my-works .works-container .techno-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.my-works .works-container .techno-list .single-techno {
  padding: 6px;
  background-color: #008bfc;
  border-radius: 8px;
  font-size: 0.8em;
}

.my-works .works-container .links {
  display: flex;
  align-items: center;
  gap: 10px;
  min-height: 50px;
  transform: translateY(300%);
  transition: 0.3s;
}

.my-works .works-container .links a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #e8e8e8;
  text-decoration: none;
  background-color: #400164;
  padding: 10px;
  border-radius: 20px;
}

.my-works .works-container .links a:hover {
  background-color: #5402a1;
}

.my-works .works-container .links a.github-link::before {
  content: '.';
  color: transparent;
  background-image: url('./../images/svg/github-white.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-works .works-container .links a.deployed-link::before {
  content: '.';
  color: transparent;
  background-image: url('./../images/svg/arrow-up-right.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-works .works-container .links.show,
.my-works .works-container .single-work:hover .links {
  transform: translate(0);
  transition: 0.2s ease-out;
}
