body {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #00063b;
  color: #e8e8e8;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

header {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1px;
  background-color: #000b6d;

  .left {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1px;

    .item {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 10px;
      cursor: pointer;
      background-color: #001aff;

      &:hover {
        background-color: #0077ff;
      }
    }
  }

  .logout {
    height: 80%;
    width: 100px;

    form {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      input {
        height: 40px;
        width: 40px;
        background-color: #fd2600;
        border: none;
        border-radius: 16px;
        color: #fff;
        color: transparent;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-image: url('./../svgs/logout.svg');
        cursor: pointer;

        &:hover {
          background-color: #640f00;
        }
      }
    }
  }
}

main {
  position: relative;
  width: 100%;
  height: calc(100% - 50px);
  overflow-y: scroll;
  background-color: #fff;
  scroll-behavior: smooth;

  .data-container {
    height: 100%;
    width: 100%;
    // background-color: yellow;
  }
}