* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 700px;
  background-color: #00063b;
  color: #e8e8e8;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  gap: 20px;
  position: relative;
}

form input {
  height: 30px;
  padding: 25px;
  font-size: large;
  border-radius: 10px;
  padding-left: 10px;
  border: none;
}

form input:focus:not([type="checkbox"]) {
  outline: 2px solid #006e00;
}

form #login {
  width: 30%;
  height: unset;
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: #0084ff;
  color: #e8e8e8;
}

form #login:hover {
  background-color: #0369c9;
}

form div {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}